<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container mt-5">
  <h1 class="mb-4">비밀번호 찾기</h1>

  <!-- 비밀번호 찾기 폼 -->
  <form th:action="@{/user/password}" th:object="${userPasswordFindForm}" method="post">
    <!-- 사용자 ID -->
    <div class="mb-3">
      <label for="username" class="form-label">사용자 ID</label>
      <input type="text" th:field="*{username}" class="form-control" id="username">
      <!-- 사용자 ID 유효성 검사 -->
      <div th:if="${#fields.hasErrors('username')}" class="text-danger mt-1">
        <p th:errors="*{username}"></p>
      </div>
    </div>

    <!-- 이메일 -->
    <div class="mb-3">
      <label for="email" class="form-label">이메일</label>
      <input type="email" th:field="*{email}" class="form-control" id="email">
      <!-- 이메일 유효성 검사 -->
      <div th:if="${#fields.hasErrors('email')}" class="text-danger mt-1">
        <p th:errors="*{email}"></p>
      </div>
    </div>

    <!-- 제출 버튼 -->
    <button type="submit" class="btn btn-primary">비밀번호 찾기</button>
  </form>
</div>
</html>