<!DOCTYPE html>
<table lang="ko" xmlns:th="http://www.thymeleaf.org">

  <!-- 부트스트랩 CSS 파일을 적용 -->
  <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
  <!-- 부트스트랩의 container 클래스를 사용하여 중앙 정렬 및 여백 추가 -->
  <div class="container my-3">
    <!-- 부트스트랩 스타일을 적용한 표(table) -->
    <table class="table">
      <!-- 테이블 헤더 부분 -->
      <thead class="table-dark">
      <tr>
        <!-- 열 헤더 -->
        <th>번호</th>
        <th>제목</th>
        <th>작성일시</th>
      </tr>
      </thead>
      <tbody>
      <!-- 테이블 본문 -->
      <tr th:each="question, loop : ${questionList}">
        <td th:text="${loop.count}"></td>
        <td>
          <a th:href="@{|/question/detail/${question.id}|}" th:text="${question.subject}"></a>
        </td>
        <td th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></td>
      </tr>
      </tbody>
    </table>
  </div>