<!DOCTYPE html>

  <!-- layout.html 상속 -->
<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
  <!-- layout:fragment="content": layout.html에서 content라는 이름으로 이 부분이 삽입될 위치를 지정 -->
  <div layout:fragment="content" class="container my-3">
    <!-- 부트스트랩 스타일을 적용한 표(table) -->
    <table class="table">
      <!-- 테이블 헤더 부분 -->
      <thead class="table-dark">
      <tr>
        <!-- 열 헤더 -->
        <th>번호</th>
        <th>제목</th>
        <th>작성일시</th>
      </tr>
      </thead>
      <tbody>
      <!-- 테이블 본문 -->
      <tr th:each="question, loop : ${questionList}">
        <td th:text="${loop.count}"></td>
        <td>
          <a th:href="@{|/question/detail/${question.id}|}" th:text="${question.subject}"></a>
        </td>
        <td th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></td>
      </tr>
      </tbody>
    </table>
  </div>
  </html>